*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    width: 20rem;
    background-color: rgb(112, 241, 243);
    margin: 200px auto;
    list-style: none;
    font-size:xx-large ;
    text-align: center;
    border: 2px dotted black;
    border-bottom: none;
}
li{
    border-bottom: 2px dotted black;
}
a{
    text-decoration: none;
    color:black ;
}
li:hover{
    background-color: rgb(226, 153, 63);
}